@model List<WebCooking.Models.Category>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Categories</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3 pb-5">
                <h5 class="text-center">Categories</h5>
                <div class="list-group">
                    @foreach (var category in Model)
                    {
                        <a href="javascript:void(0);" 
                           class="list-group-item list-group-item-action"
                           onclick="loadRecipes(@category.Id)">
                            @category.Name
                        </a>
                    }
                </div>
            </div>
        </nav>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex">
            <div class="container" id="recipes-container">
                <h2>Recipes</h2>
                <p>Select a category to view recipes.</p>
            </div>
        </main>
    </div>
</div>

<script>
    function loadRecipes(categoryId) {
        $.ajax({
            url: '@Url.Action("Details", "Category")',
            type: 'GET',
            data: { categoryId: categoryId },
            success: function (data) {
                $('#recipes-container').html(data);
            },
            error: function () {
                alert('Error loading recipes');
            }
        });
    }
</script>
</body>
</html>