@model IEnumerable<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a href="@Url.Action("Details", "User", new { userId = user.Id })">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>