@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div class="container">
        <header class="container">
        </header>
        <h1>Это хоуме</h1>
    </div>
</body>
</html>