@model Recipe

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post">
    <label asp-for="Name">Name</label>
    <input asp-for="Name"/>
    <button type="submit">Submit</button>
</form>
