@model List<WebCooking.Models.Recipe>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="d-flex flex-row flex-wrap">
    @foreach (var recipe in Model)
    {
        <div class="card" style="width: 18rem; margin: 10px;">
            <div class="image-container">
                <img class="card-img-top" src="@recipe.ImagePath" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-truncate">@recipe.Name</h5>
                <div class="container-fluid p-0 d-flex flex-column">
                    <a asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@recipe.Id" class="btn btn-primary mt-auto">Информация</a>
                    <form class="container-fluid p-0" asp-action="AddToFavorites" method="post">
                        <input type="hidden" name="recipeId" value="@recipe.Id"/>
                        <button class="w-100 btn btn-warning" type="submit">В избранное</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>
