@model List<WebCooking.Models.Recipe>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="d-flex flex-row flex-wrap">
    @foreach (var recipe in Model)
    {
        <div class="card" style="width: 18rem; margin: 10px;">
            <div class="image-container">
                <img class="card-img-top" src="@recipe.ImagePath" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">@recipe.Name</h5>
                <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
            </div>
        </div>
    }
</div>